@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibmplexmono.woff2") format("woff2");
}

@font-face {
  font-family: MarvinVisions;
  src: url("/fonts/MarvinVisionsBig-Bold.woff2") format("woff2");
}

html,
code {
  font-family: "IBM Plex Mono";
}

.title,
.tagline,
.name {
  font-family: MarvinVisions;
}

.whoami-theme .title,
.misc-theme .title,
.name {
  font-size: 40px;
  letter-spacing: 2px;
}

.tagline {
  letter-spacing: 1px;
}

.bad-kerning {
  letter-spacing: 4px;
}
