$bg-saturation: 54%;
$bg-lightness: 13%;

$bg-red: hsl(0deg, $bg-saturation, $bg-lightness);
$bg-orange: hsl(30deg, $bg-saturation, $bg-lightness);
$bg-yellow: hsl(60deg, $bg-saturation, $bg-lightness);
$bg-yellow-green: hsl(90deg, $bg-saturation, $bg-lightness);
$bg-green: hsl(120deg, $bg-saturation, $bg-lightness);
$bg-blue-green: hsl(150deg, $bg-saturation, $bg-lightness);
$bg-blue: hsl(180deg, $bg-saturation, $bg-lightness);
$bg-dark-blue: hsl(210deg, $bg-saturation, $bg-lightness);
$bg-purple-blue: hsl(240deg, $bg-saturation, $bg-lightness);
$bg-purple: hsl(270deg, $bg-saturation, $bg-lightness);
$bg-light-purple: hsl(300deg, $bg-saturation, $bg-lightness);
$bg-purple-red: hsl(330deg, $bg-saturation, $bg-lightness);

@function grid-background-image($color, $position) {
  @return radial-gradient(
      circle at $position,
      $color 0%,
      $color 10%,
      transparent 80%
    ),
    linear-gradient(to right, #2f2f2f 1px, transparent 1px),
    linear-gradient(to bottom, #2f2f2f 1px, transparent 1px);
}

.home-theme,
.home-minimap-bg {
  background: #222;
  color: #fafafa;
}

.blog-theme,
.misc-theme,
.whoami-theme {
  background-size: 100% 100%, 16px 16px, 16px 16px;
  color: #ffffff;

  .title {
    padding-top: 20px;
  }

  .section-title {
    color: #fff;
  }

  p,
  .section {
    color: #dadce0;
    padding-bottom: 20px;
  }

  ol, ul {
    color: #dadce0;
  }

  blockquote p,
  ul p,
  ol p {
    padding-bottom: 0;
  }

  .section-content {
    padding-bottom: 4px;
  }

  .link {
    background-color: #fafafa;
    color: #222;
    display: inline-block;

    &:hover {
      background-color: #dadada;
    }
  }
}

.blog-theme {
  background-image: grid-background-image($bg-red, bottom right);
}
.misc-theme {
  background-image: grid-background-image($bg-blue, top right);
}
.whoami-theme {
  background-image: grid-background-image($bg-light-purple, top left);
}

.blog-minimap-bg {
  background-color: $bg-red;
}
.misc-minimap-bg {
  background-color: $bg-blue;
}
.whoami-minimap-bg {
  background-color: $bg-light-purple;
}
