.blog-date {
  font-size: 16px;
}

.blog-entries {
  padding: 10px 0;
}

strong,
.emphasis {
  display: inline;
  color: #fff;
}

.blog-entry {
  display: flex;
  font-size: 16px;
  padding: 2px 0;

  .link {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
  }
}

.blog-entry-date {
  flex-shrink: 0;
  padding-right: 8px;
}

code,
.inline-code {
  background: rgb(0 0 0 / 25%);
  border-radius: 4px;
  color: #fafafa;
}

code {
  padding: 0 8px;
}

pre,
.code-block {
  background: rgb(0 0 0 / 25%);
  border-radius: 4px;
  color: #fafafa;
  font-size: 16px;
  overflow-x: auto;
  padding: 12px;
}

pre code {
  background: initial;
  padding: 0;
}

.inline-code {
  padding: 0 8px;
}

blockquote,
.quote {
  border-left: 2px solid #dadce0;
  color: #dadce0;
  font-family: Garamond;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  padding: 6px 12px;

  .attribution {
    padding-top: 20px;
  }
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 0;
}

.quote.ac-quote {
  background: #010309;
  border-left: 2px solid #3b5489;
  color: #86bc4c;
  font-family: "IBM Plex Mono";
  font-size: 14px;
  margin: 20px 0;
}

.font-box {
  background: #ffd7a5;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 24px;
}
