.book {
  color: #fff;
  margin: 10px 0;
}

.author {
  color: #9a8585;
}

.tag {
  font-size: 12px;
  padding: 0 4px;

  &.year {
    color: #cbbc87;
    background: rgb(209 17 17 / 0.53);
  }

  &.fantasy {
    color: #abcb87;
    background: rgba(114 209 17 / 0.53);
  }

  &.scifi {
    color: #87c3cb;
    background: rgba(17 122 209 / 0.53);
  }

  &.murderbot {
    color: #c89fe4;
    background: rgba(141 43 226 / 0.53);
  }
}
