@font-face {
  font-family: TravelingTypewriter;
  src: url("/static/fonts/TravelingTypewriter.otf") format("opentype");
}

@font-face {
  font-family: dijkstra;
  src: url("/static/fonts/dijkstra.ttf") format("truetype");
}

@font-face {
  font-family: UbuntuMono;
  src: url("/static/fonts/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/static/fonts/ibmplexmono.woff2") format("woff2");
}

.font-traveling-typewriter {
  font-family: TravelingTypewriter !important;
}

.font-dijkstra {
  font-family: dijkstra !important;
}

.font-ubuntu-mono {
  font-family: UbuntuMono !important;
}

html {
  font-family: "IBM Plex Mono";
}

.bad-kerning {
  letter-spacing: 4px;
}
