.home-theme {
  background-color: #6a5b78;
  color: #ffffff;
}

.who-theme {
  background-color: #785b5b;
  color: #ffffff;
}

.blog-theme {
  background-color: #fff8ea;
  color: #222;

  .blog-date {
    font-size: 20px;
  }

  .blog-entries {
    padding: 10px 0;
  }

  .blog-entry {
    display: flex;
    font-size: 20px;
    padding: 2px 0;

    .link {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .blog-entry-date {
    flex-shrink: 0;
    padding-right: 8px;
  }

  a:link,
  a:visited,
  a:hover,
  a:focus {
    color: #2f6efd;
  }

  .inline-code,
  .code-block {
    background: #ffd7a5;
    font-family: UbuntuMono;
  }

  .code-block {
    font-size: 20px;
    line-height: 24px;
    overflow-x: auto;
    padding: 12px;
  }

  .inline-code {
    padding: 4px 8px;
  }

  .quote {
    background: #ffd7a5;
    font-family: Garamond;
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
    padding: 12px;

    .attribution {
      padding-top: 20px;
    }
  }

  .quote.ac-quote {
    background: #010309;
    border-left: 2px solid #3b5489;
    color: #50702e;
    font-family: Arial;
  }

  .font-box {
    background: #ffd7a5;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 24px;
  }
}

.projects-theme {
  background-color: #5b6478;
  color: #ffffff;
}

.toolkit-theme {
  background-color: #b5c3b6;
  color: #111111;

  & a:link,
  & a:visited,
  & a:hover,
  & a:focus {
    color: #930000;
  }
}

.boardgame-theme {
  background-color: #b0b4bd;
}
