// Styles for the (-2, -1) three body problem visualization.

.three-theme,
.three-minimap-bg {
  background: radial-gradient(circle at left bottom, #222, #444);
  color: #ffffff;
}

.three-body {
  opacity: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;

  &.show {
    opacity: 1;
  }

  &.one {
    background: #f6ff66;
  }

  &.two {
    background: #66ffa3;
  }

  &.three {
    background: #e766ff;
  }
}
