.x-10 {
  left: -1000vw;
}
.x-9 {
  left: -900vw;
}
.x-8 {
  left: -800vw;
}
.x-7 {
  left: -700vw;
}
.x-6 {
  left: -600vw;
}
.x-5 {
  left: -500vw;
}
.x-4 {
  left: -400vw;
}
.x-3 {
  left: -300vw;
}
.x-2 {
  left: -200vw;
}
.x-1 {
  left: -100vw;
}
.x0 {
  left: 0;
}
.x1 {
  left: 100vw;
}
.x2 {
  left: 200vw;
}
.x3 {
  left: 300vw;
}
.x4 {
  left: 400vw;
}
.x5 {
  left: 500vw;
}
.x6 {
  left: 600vw;
}
.x7 {
  left: 700vw;
}
.x8 {
  left: 800vw;
}
.x9 {
  left: 900vw;
}
.x10 {
  left: 1000vw;
}

.y-10 {
  top: -1000vh;
}
.y-9 {
  top: -900vh;
}
.y-8 {
  top: -800vh;
}
.y-7 {
  top: -700vh;
}
.y-6 {
  top: -600vh;
}
.y-5 {
  top: -500vh;
}
.y-4 {
  top: -400vh;
}
.y-3 {
  top: -300vh;
}
.y-2 {
  top: -200vh;
}
.y-1 {
  top: -100vh;
}
.y0 {
  top: 0;
}
.y1 {
  top: 100vh;
}
.y2 {
  top: 200vh;
}
.y3 {
  top: 300vh;
}
.y4 {
  top: 400vh;
}
.y5 {
  top: 500vh;
}
.y6 {
  top: 600vh;
}
.y7 {
  top: 700vh;
}
.y8 {
  top: 800vh;
}
.y9 {
  top: 900vh;
}
.y10 {
  top: 1000vh;
}
