@use "blog";
@use "books";
@use "fonts";
@use "map";
@use "pokemon";
@use "themes";
@use "three";

body {
  background: #242424;
  overflow: hidden;
  overscroll-behavior: contain;
  position: fixed;
}

html,
body,
#panel-matrix,
.panel {
  height: 100%;
  width: 100%;
}

#panel-matrix {
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.panel {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  position: absolute;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dadce0;
  }
}

body {
  margin: 0;
}

.home-panel {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-panel .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px 0 40px;
  margin-left: -8px;
}

.home-panel .link {
  background-color: #fafafa;
  color: #222;
  margin: 8px;

  &:hover {
    background-color: #dadada;
  }
}

.panel-content {
  max-width: 800px;
}

.tagline {
  color: #fafafa;
  font-size: 20px;
}

.name {
  color: #ffc556;
}

.play,
.link {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0 12px;
  white-space: nowrap;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.nav-section {
  margin-top: 20px;
}

.nav-link {
  font-size: 20px;
}

.title {
  font-size: 34px;
}

.subtitle {
  font-size: 16px;
}

.section {
  font-size: 16px;
  padding: 12px 0;
  line-height: 22px;
}

.note-section {
  background: #fff2;
  display: inline-block;
  padding: 12px;
  margin: 12px 0;
}

.section-header {
  padding-top: 30px;
  font-size: 22px;
}

a:link,
a:visited,
a:hover,
a:focus {
  color: #8cb6ff;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ol,
ul {
  margin: 0;
}

.grid {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  white-space: pre;
}

.loot {
  padding: 0 8px;

  &.new-item {
    background: #4791ff;
    cursor: grab;
    color: #fff;
  }

  &.new-item:hover {
    background: #62a1ff;
    color: #fff;
  }

  &.owned-item {
    background: #e4edff;
    color: #000;
    cursor: not-allowed;
  }
}

.block,
.long-block,
.square-block {
  margin: 12px 0;
}

.block {
  height: 100px;
  width: 162px;
}

.long-block {
  height: 30px;
  width: 100%;
}

.square-block {
  height: 200px;
  position: relative;
  width: 200px;
}

.square-block::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.hsl-block {
  background: linear-gradient(to right, #808080, #00f);
}

.hsl-block::before {
  background: linear-gradient(to bottom, #fff, #000);
  -webkit-mask: linear-gradient(to bottom, #fff, transparent, #fff);
  mask: linear-gradient(to bottom, #fff, transparent, #fff);
}

.hwb-block {
  background: linear-gradient(to right, #00f, #000);
}

.hwb-block::before {
  background: linear-gradient(to right, #fff, #808080);
  -webkit-mask: linear-gradient(to bottom, transparent, #fff);
  mask: linear-gradient(to bottom, transparent, #fff);
}

.named-color {
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 0 8px;
}

.secondary-text {
  color: #646464;
}

.hieroglyphs {
  word-wrap: break-word;
  font-size: 36px;
}

.unicode-bird {
  align-items: center;
  display: flex;
}

.unicode-char {
  font-size: 60px;
  line-height: 60px;
  padding-right: 8px;
}

.feed-header:not(:first-child) {
  margin-top: 20px;
}

.feed {
  border-left: 2px dotted #fff;
  margin: 8px 0;
  padding-left: 10px;
}

.footnote {
  font-size: 12px;
}

.chromostereopsis-demo {
  background-color: red;
  background-size: 64px 64px;
  background-image: linear-gradient(
      to right,
      #222 0px,
      #222 32px,
      transparent 33px
    ),
    linear-gradient(to bottom, #222 0px, #222 32px, transparent 33px),
    linear-gradient(to right, blue 16px, blue 48px, transparent 49px);
  width: 100%;
  height: 288px;
}
