@use "fonts";
@use "map";
@use "pokemon";
@use "themes";

body {
  background: #242424;
  overflow: hidden;
  overscroll-behavior: contain;
  position: fixed;
}

html,
body,
#panel-matrix,
.panel {
  height: 100%;
  width: 100%;
}

#panel-matrix {
  position: relative;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
}

.panel {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  position: absolute;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dadce0;
  }
}

body {
  margin: 0;
}

.home-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-panel .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.home-panel .link {
  margin: 8px;
}

.panel-content {
  max-width: 800px;
}

.name {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 50px;
  justify-content: center;
  text-align: center;
}

.link {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0 12px;
  white-space: nowrap;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.nav-section {
  margin-top: 20px;
}

.nav-link {
  font-size: 25px;
}

@media screen and (max-width: 1000px) {
  .nav-link {
    font-size: 23px;
  }
}

.title {
  font-size: 38px;
}

.section {
  font-size: 20px;
  padding: 12px 0;
}

.section-header {
  padding-top: 30px;
  font-size: 25px;
}

a:link,
a:visited,
a:hover,
a:focus {
  color: #cbcbff;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin: 0;
}

.grid {
  font-family: UbuntuMono;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  white-space: pre;
}

.loot {
  cursor: pointer;
  padding: 0 8px;
  color: #000;
}

.loot.new-item {
  background: rgba(255, 255, 130, 0.5);
}

.loot.new-item:hover {
  background: rgba(255, 255, 130, 0.7);
}

.loot.owned-item {
  background: rgba(255, 255, 255, 0.5);
}

.loot.owned-item:hover {
  background: rgba(255, 255, 255, 0.7);
}
