@use "fonts";
@use "map";
@use "pokemon";
@use "themes";

body {
  background: #242424;
  overflow: hidden;
  overscroll-behavior: contain;
  position: fixed;
}

html,
body,
#panel-matrix,
.panel {
  height: 100%;
  width: 100%;
}

#panel-matrix {
  position: relative;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
}

.panel {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  position: absolute;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dadce0;
  }
}

body {
  margin: 0;
}

.home-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-panel .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.home-panel .link {
  margin: 8px;
}

.panel-content {
  max-width: 800px;
}

.name {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 50px;
  justify-content: center;
  text-align: center;
}

.play,
.link {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0 12px;
  white-space: nowrap;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.nav-section {
  margin-top: 20px;
}

.nav-link {
  font-size: 20px;
}

.title {
  font-size: 34px;
}

.section {
  font-size: 16px;
  padding: 12px 0;
  line-height: 22px;
}

.section-header {
  padding-top: 30px;
  font-size: 22px;
}

a:link,
a:visited,
a:hover,
a:focus {
  color: #cbcbff;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ol,
ul {
  margin: 0;
}

.grid {
  font-family: UbuntuMono;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  white-space: pre;
}

.loot {
  padding: 0 8px;

  &.new-item {
    background: #4791ff;
    cursor: grab;
    color: #fff;
  }

  &.new-item:hover {
    background: #62a1ff;
    color: #fff;
  }

  &.owned-item {
    background: #e4edff;
    color: #000;
    cursor: not-allowed;
  }
}

.block,
.long-block,
.square-block {
  margin: 12px 0;
}

.block {
  height: 100px;
  width: 162px;
}

.long-block {
  height: 30px;
  width: 100%;
}

.square-block {
  height: 200px;
  position: relative;
  width: 200px;
}

.square-block::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.hsl-block {
  background: linear-gradient(to right, #808080, #00f);
}

.hsl-block::before {
  background: linear-gradient(to bottom, #fff, #000);
  -webkit-mask: linear-gradient(to bottom, #fff, transparent, #fff);
  mask: linear-gradient(to bottom, #fff, transparent, #fff);
}

.hwb-block {
  background: linear-gradient(to right, #00f, #000);
}

.hwb-block::before {
  background: linear-gradient(to right, #fff, #808080);
  -webkit-mask: linear-gradient(to bottom, transparent, #fff);
  mask: linear-gradient(to bottom, transparent, #fff);
}

.named-color {
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 0 8px;
}

.three-body {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;

  &.one {
    background: #f6ff66;
  }

  &.two {
    background: #66ffa3;
  }

  &.three {
    background: #e766ff;
  }
}

.secondary-text {
  color: #646464;
}

.hieroglyphs {
  word-wrap: break-word;
  font-size: 36px;
}

.unicode-bird {
  align-items: center;
  display: flex;
}

.unicode-char {
  font-size: 60px;
  line-height: 60px;
  padding-right: 8px;
}
