@font-face {
  font-family: TravelingTypewriter;
  src: url("/static/fonts/TravelingTypewriter.otf") format("opentype");
}
@font-face {
  font-family: dijkstra;
  src: url("/static/fonts/dijkstra.ttf") format("truetype");
}
@font-face {
  font-family: UbuntuMono;
  src: url("/static/fonts/UbuntuMono-Regular.ttf") format("truetype");
}
.font-traveling-typewriter {
  font-family: TravelingTypewriter !important;
}

.font-dijkstra {
  font-family: dijkstra !important;
}

.font-ubuntu-mono {
  font-family: UbuntuMono !important;
}

html {
  font-family: TravelingTypewriter;
}

.blog-date,
.section {
  font-family: dijkstra;
}

.link {
  font-family: TravelingTypewriter;
}

.bad-kerning {
  letter-spacing: 4px;
}

.map {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #444;
  cursor: w-resize;
  height: 175px;
  overflow: hidden;
  position: absolute;
  right: -155px;
  top: 5px;
  width: 175px;
  transition: right 0.3s ease-in-out;
}

.map:hover {
  background: rgba(0, 0, 0, 0.8);
}

.map.visible {
  cursor: e-resize;
  right: 5px;
}

.map-home {
  border: 1px solid #888;
  height: 25px;
  left: 74px;
  position: absolute;
  top: 74px;
  width: 25px;
  z-index: 2;
}

.map-slider {
  position: relative;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
}

.map-panel {
  border: 1px dotted #cdcdcd;
  box-sizing: border-box;
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.pokemon-section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
}

.pokemon {
  width: 250px;
}

.pokemon .mon-name {
  font-weight: bold;
}

.pokemon .detail {
  color: #646464;
}

.pokemon .type {
  border-radius: 4px;
  color: #fff;
  font-family: "TravelingTypewriter";
  font-size: 16px;
  padding: 0 8px;
}

.pokemon .bug {
  background: #729f3f;
}

.pokemon .dragon {
  background: #7038f8;
}

.pokemon .electric {
  background: #eed535;
  color: #000;
}

.pokemon .fairy {
  background: #fdb9e9;
  color: #000;
}

.pokemon .fighting {
  background: #d56723;
}

.pokemon .fire {
  background: #fd7d24;
  color: #000;
}

.pokemon .ghost {
  background: #7b62a3;
}

.pokemon .ground {
  background: #e0c068;
  color: #000;
}

.pokemon .psychic {
  background: #f366b9;
}

.pokemon .rock {
  background: #a38c21;
}

.pokemon .steel {
  background: #9eb7b8;
  color: #000;
}

.pokemon .water {
  background: #4592c4;
}

@keyframes full-hue-rotation {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.home-theme {
  animation: full-hue-rotation 12s infinite;
  background: linear-gradient(to right, hsl(180deg, 20%, 50%), hsl(270deg, 20%, 50%));
  color: #ffffff;
}

.home-theme::before {
  background: linear-gradient(to right, hsl(90deg, 20%, 50%), hsl(0deg, 20%, 50%));
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(to bottom, transparent, #fff);
  mask: linear-gradient(to bottom, transparent, #fff);
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.blog-theme {
  background: radial-gradient(circle at left bottom, hsl(40deg, 100%, 95%) 0%, hsl(40deg, 100%, 90%) 100%);
  color: #222;
}
.blog-theme a:link,
.blog-theme a:visited,
.blog-theme a:hover,
.blog-theme a:focus {
  color: #2f6efd;
}

.blog-date {
  font-size: 20px;
}

.blog-entries {
  padding: 10px 0;
}

.blog-entry {
  display: flex;
  font-size: 20px;
  padding: 2px 0;
}
.blog-entry .link {
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-entry-date {
  flex-shrink: 0;
  padding-right: 8px;
}

.inline-code,
.code-block {
  background: rgba(255, 215, 165, 0.5019607843);
  font-family: UbuntuMono;
}

.code-block {
  font-size: 20px;
  line-height: 24px;
  overflow-x: auto;
  padding: 12px;
}

.inline-code {
  padding: 4px 8px;
}

.quote {
  background: #ffd7a5;
  font-family: Garamond;
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0;
  padding: 12px;
}
.quote .attribution {
  padding-top: 20px;
}

.quote.ac-quote {
  background: #010309;
  border-left: 2px solid #3b5489;
  color: #86bc4c;
  font-family: Arial;
}

.font-box {
  background: #ffd7a5;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.three-theme {
  background: radial-gradient(circle at left bottom, #222, #444);
  color: #ffffff;
}

.toolkit-theme {
  background: radial-gradient(circle at left bottom, hsl(120deg, 20%, 50%), hsl(210deg, 20%, 50%));
  color: #ffffff;
}
.toolkit-theme a:link, .toolkit-theme a:visited, .toolkit-theme a:hover, .toolkit-theme a:focus {
  color: #ddffeb;
}

.boardgame-theme {
  background: radial-gradient(circle at left bottom, hsl(150deg, 20%, 50%), hsl(210deg, 20%, 50%));
  color: #ffffff;
}

.projects-theme {
  background: radial-gradient(circle at left bottom, hsl(180deg, 20%, 50%), hsl(270deg, 20%, 50%));
  color: #ffffff;
}

.who-theme {
  background: radial-gradient(circle at left bottom, hsl(210deg, 20%, 50%), hsl(330deg, 20%, 50%));
  color: #ffffff;
}

.dialogue-theme {
  background: radial-gradient(circle at left bottom, hsl(90deg, 20%, 50%), hsl(150deg, 20%, 50%));
  color: #ffffff;
}
.dialogue-theme .section {
  font-family: TravelingTypewriter;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}
.dialogue-theme .section.witty {
  background: rgba(0, 0, 0, 0.5);
}
.dialogue-theme .section.zkhr {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}

body {
  background: #242424;
  overflow: hidden;
  overscroll-behavior: contain;
  position: fixed;
}

html,
body,
#panel-matrix,
.panel {
  height: 100%;
  width: 100%;
}

#panel-matrix {
  position: relative;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
}

.panel {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  position: absolute;
}
.panel::-webkit-scrollbar {
  width: 10px;
}
.panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.panel::-webkit-scrollbar-thumb {
  background-color: #dadce0;
}

body {
  margin: 0;
}

.home-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-panel .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.home-panel .link {
  margin: 8px;
}

.panel-content {
  max-width: 800px;
}

.name {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 50px;
  justify-content: center;
  text-align: center;
}

.play,
.link {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0 12px;
  white-space: nowrap;
}
.play:hover,
.link:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-section {
  margin-top: 20px;
}

.nav-link {
  font-size: 25px;
}

@media screen and (max-width: 1000px) {
  .home-theme .nav-link {
    font-size: 23px;
  }
  .blog-theme .nav-link,
  .dialogue-theme .nav-link {
    font-size: 20px;
  }
}
.title {
  font-size: 38px;
}

.section {
  font-size: 20px;
  padding: 12px 0;
}
.section.zkhr::before {
  content: "[zkhr]";
}
.section.witty::before {
  content: "[ChatGPT]";
}

.section-header {
  padding-top: 30px;
  font-size: 25px;
}

a:link,
a:visited,
a:hover,
a:focus {
  color: #cbcbff;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ol,
ul {
  margin: 0;
}

.grid {
  font-family: UbuntuMono;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  white-space: pre;
}

.loot {
  font-family: TravelingTypewriter;
  padding: 0 8px;
}
.loot.new-item {
  background: #4791ff;
  cursor: grab;
  color: #fff;
}
.loot.new-item:hover {
  background: #62a1ff;
  color: #fff;
}
.loot.owned-item {
  background: #e4edff;
  color: #000;
  cursor: not-allowed;
}

.block,
.long-block,
.square-block {
  margin: 12px 0;
}

.block {
  height: 100px;
  width: 162px;
}

.long-block {
  height: 30px;
  width: 100%;
}

.square-block {
  height: 200px;
  position: relative;
  width: 200px;
}

.square-block::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.hsl-block {
  background: linear-gradient(to right, #808080, #00f);
}

.hsl-block::before {
  background: linear-gradient(to bottom, #fff, #000);
  -webkit-mask: linear-gradient(to bottom, #fff, transparent, #fff);
  mask: linear-gradient(to bottom, #fff, transparent, #fff);
}

.hwb-block {
  background: linear-gradient(to right, #00f, #000);
}

.hwb-block::before {
  background: linear-gradient(to right, #fff, #808080);
  -webkit-mask: linear-gradient(to bottom, transparent, #fff);
  mask: linear-gradient(to bottom, transparent, #fff);
}

.named-color {
  border-radius: 4px;
  color: #fff;
  font-family: "TravelingTypewriter";
  font-size: 16px;
  padding: 0 8px;
}

.three-body {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
}
.three-body.one {
  background: #f6ff66;
}
.three-body.two {
  background: #66ffa3;
}
.three-body.three {
  background: #e766ff;
}

/*# sourceMappingURL=main.css.map */
