@font-face {
  font-family: TravelingTypewriter;
  src: url("/static/fonts/TravelingTypewriter.otf") format("opentype");
}

html {
  font-family: "TravelingTypewriter", serif;
}

body {
  background: #242424;
  overflow: hidden;
  overscroll-behavior: contain;
  position: fixed;
}

html,
body,
#panel-matrix,
.panel {
  height: 100%;
  width: 100%;
}

#panel-matrix {
  position: relative;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
}

.panel {
  box-sizing: border-box;
  overflow-y: auto;
  padding: 20px;
  position: absolute;
}

body {
  margin: 0;
}

.home-panel {
  align-items: center;
  background-color: #6a5b78;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-panel .link {
  font-size: 25px;
  padding: 0 12px;
}

.who-panel {
  background-color: #785b5b;
  color: #ffffff;
}

.blog-panel {
  background-color: #5b7863;
  color: #ffffff;
}

.panel-content {
  max-width: 800px;
}

.projects-panel {
  background-color: #5b6478;
  color: #ffffff;
}

.name {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 50px;
  justify-content: center;
  text-align: center;
}

.links {
  display: flex;
  padding-bottom: 40px;
}

.link {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: #aaa;
}

.link:hover {
  text-decoration-line: underline;
  text-decoration-color: #ddd;
}

.back-link {
  font-size: 25px;
}

.title {
  font-size: 38px;
}

.blog-date {
  font-size: 20px;
}

.blog-entries {
  padding: 10px 0;
}

.blog-entry {
  font-size: 20px;
  padding: 2px 0;
}

.section {
  font-size: 20px;
  padding: 12px 0;
}

.section-header {
  padding-top: 30px;
  font-size: 25px;
}

a:link,
a:visited,
a:hover,
a:focus {
  color: #cbcbff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
}

.code-block {
  font-family: inherit;
  background: #78a584;
  font-size: 20px;
  line-height: 24px;
  overflow-x: auto;
  padding: 20px;
}

.inline-code {
  background: #78a584;
  padding: 0 4px;
}
